<header class="eheader">
    <a href="index.html">
        <picture>
            <source srcset="./assets/images/circular.png?as=webp" type="image/webp">
            <img class="eheader__logo" src="./assets/images/circular.png" alt="Logo" width="100" height="100">
        </picture>    
    </a>
    <nav class="eheader__nav">
        <ul class="eheader__nav-list">
            <li class="eheader__nav-item"><a href="ponentes.html" class="eheader__nav-link">Conoce</a></li>
            <li class="eheader__nav-item"><a href="articulo.html" class="eheader__nav-link">Aprende</a></li>
            <li class="eheader__nav-item"><a href="formulario.html" class="eheader__nav-link">Participa</a></li>
        </ul>
    </nav>
</header>