@font-face {
    font-family: "Inconsolata";
    font-weight: 400;
    src: url("../fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    font-weight: 400;
    src: url("../fonts/Outfit-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    font-weight: 800;
    src: url("../fonts/Outfit-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}